[submodule "lib/boostlog0"]
	path = lib/boostlog0
	url = https://bitbucket.org/altsybeyev/boostlog0.git
[submodule "test/boostlogconf"]
	path = test/boostlogconf
	url = https://bitbucket.org/altsybeyev/boostlogconf.git
